html, body, .capa {
	height: 100%;
}

body {
	background: url('../img/fundo3.jpg');
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

nav.navbar-transparente {
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.capa {
	display: table;
	width: 100%;
}

.texto-capa {
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
	color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo-capa {
    font-size: 100px;
}

.subtitulo-capa {
    font-size: 30px;
}

.redes-sociais {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
}

#servicos {
    background-color: #f8f8f8; 
    padding-top: 120px;
    padding-bottom: 90px;
}

.servico {
    text-align: center;
}

img .servico {
    height: 30px;
    width: 30px;
}

.card-servicos {
    border: 0px;
}

#sobre {
    background-color: #15679e;
    padding-top: 70px;
    padding-bottom: 40px;
}

.card-top {
    margin-bottom: 50px;
    padding: 20px;
    border: 0px;
    background-color: transparent;
    color: white;
}

.img-top {
    padding-bottom: 20px;
    text-align: center;
}

#contato {
    background-color: #21184e;
    padding-bottom: 40px;
}

#btn-enviar {
    float: right;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 80px;
    background-color:#34286d;
    color: #A9A9F5;
}

/*** CSS para ícones das redes sociais ***/
.fa {
    margin: 15px;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    text-decoration: none;
    color: #A9A9F5;
    opacity: 0.7;
}

/* LinkedIn */
.fa-linkedin {
    background:#34286d;
    color: #A9A9F5;
}

/* GitHub */
.fa-github {
    background:#34286d;
    color: #A9A9F5;
}

/* Twitter */
.fa-twitter {
    background:#34286d;
    color: #A9A9F5;
}